.output-area{
  width: 100%;
  min-height: 50px;
  resize: none;
  padding: 1%;
  border: 1px solid grey;

}

.active {
  color: #f48c8f;
  transform: scale(0.95, 0.95);
}

.buttons{
  background-color: darkseagreen;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5vw;
}
.buttons__line{
  display: grid;
  align-items: center;
  grid-gap: 0.5vw;
}
.buttons__line--first {
  grid-template-columns: repeat(13, 1fr) 2.4fr;
}
.buttons__line--second {
  grid-template-columns: 1.25fr repeat(14, 1fr);
}
.buttons__line--third{
  grid-template-columns: 1.98fr repeat(11, 1fr) 1.98fr;
}
.buttons__line--fourth{
  grid-template-columns: 2fr repeat(11, 1fr) 1fr;
}
.buttons__line--fifth{
  grid-template-columns: 1.5fr 1fr 1fr 6.5fr 1fr 1.5fr 1fr 1fr 1fr;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: darkcyan;
}